<h1>Lista de Productos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>${{price}}</td>
      <td>{{stock}}</td>
      <td>
        <a href="/products/actualizar-producto/{{_id}}" class="btn btn-primary">Editar</a>
      </td>
      <td>
      <form action="/products/delete/{{_id}}?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar este producto?')">
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
