<h1>Lista de Productos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>${{price}}</td>
      <td>
        <a href="/products/actualizar-producto/{{_id}}" class="btn btn-primary">Editar</a>
        <a href="/eliminar/{{_id}}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
